# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: Polish Reporting Platform -  indicators for the Sustainable Development Goals
description: Statistics Poland
baseurl: "http://sdg.gov.pl" # the subpath of your site, e.g. /blog
url: ""
data_dir: data

# Google Analytics
google_analytics: UA-139029935-1

#Github Repo
repo_name: sdg-indicators-pl
branch: gh-pages
org_name: Statistics Poland

# Build settings
markdown: kramdown

# Pages
collections:
  pages:
    output: true
    permalink: /:path/
  indicators:
    output: true
  goals:
    output: true
  translations:
    output: true
  metadane_globalne:
    output: true
  metadane_krajowe:
    output: true

defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      lang: pl
  -
    scope:
      layout: "indicator"
    values:
      # This value corresponds to a file in _includes/indicator_data_source/.
      indicator_data_source: local_csv

analytics:
  ga_prod: ''

ckan_endpoint:

# Prose configuration
prose:
  ignore:
  - /_includes
  - /_indicators
  - /_layouts
  - /_goals
  - /_posts
  - /_sass
  - /_site
  - /_translations
  - /api
  - /en
  - /assets
  - /scripts
  - /sass
  - /goals
  - /posts
  - /sass
  - /site
  - /translations
  - .Rhistory
  - CNAME
  - LICENSE
  - 404.md
  - README.md
  - config.yml
  - _config.yml
  - account.md
  - admin.md
  - download.md
  - faqs.md
  - feed.xml
  - guide.md
  - index.md
  - indicator_status.md
  - o_sdg.md
  - package.json
  - search.md
  - statistics_glob.md
  - statistics_nat.md
  - status_glob.md
  - status_nat.md
  metadata:
    _metadane_globalne:
      - name: "pl_nazwa_wskaznika"
        field:
            element: text
            label: "Nazwa wskaźnika"
            scope: global
      - name: "pl_cel"
        field:
            element: text
            label: "Cel Zrównoważonego Rozwoju"
            scope: global
      - name: "pl_zadanie"
        field:
            element: textarea
            label: "Zadanie"
            scope: global
      - name: "pl_definicja"
        field:
            element: textarea
            label: "Definicja wskaźnika"
            scope: global
      - name: "pl_jednostka_prezentacji"
        field:
            element: text
            label: "Jednostka prezentacji"
            scope: global
      - name: "pl_dostepne_wymiary"
        field:
            element: textarea
            label: "Dostępne wymiary"
            scope: global
      - name: "pl_wyjasnienia_metodologiczne"
        field:
            element: textarea
            label: "Wyjaśnienia metodologiczne"
            scope: global
      - name: "pl_zrodlo_danych"
        field:
            element: text
            label: "Źródło danych"
            scope: global
      - name: "pl_czestotliwosc_dostępnosc_danych"
        field:
            element: textarea
            label: "Częstotliwość i dostępność danych"
            scope: global
      - name: "pl_uwagi"
        field:
            element: textarea
            label: "Uwagi"
            scope: global
      - name: "en_nazwa_wskaznika"
        field:
            element: text
            label: "Name of the indicator"
            scope: global
      - name: "en_cel"
        field:
            element: text
            label: "Sustainable Development Goal"
            scope: global
      - name: "en_zadanie"
        field:
            element: textarea
            label: "Target"
            scope: global
      - name: "en_definicja"
        field:
            element: textarea
            label: "Definition"
            scope: global
      - name: "en_jednostka_prezentacji"
        field:
            element: text
            label: "Unit"
            scope: global
      - name: "en_dostepne_wymiary"
        field:
            element: textarea
            label: "Available dimensions"
            scope: global
      - name: "en_wyjasnienia_metodologiczne"
        field:
            element: textarea
            label: "Methodological explanations"
            scope: global
      - name: "en_zrodlo_danych"
        field:
            element: text
            label: "Source of data"
            scope: global
      - name: "en_czestotliwosc_dostępnosc_danych"
        field:
            element: textarea
            label: "Data availability"
            scope: global
      - name: "en_uwagi"
        field:
            element: textarea
            label: "Notes"
            scope: global
      - name: "en_graph_title"
        field:
            element: hidden
            label: "graph_title"
            scope: global
      - name: "en_title"
        field:
            element: hidden
            label: "title"
            scope: global
      - name: "en_jednostka"
        field:
            element: hidden
            label: "jednostka"
            scope: global
      - name: "pl_graph_title"
        field:
            element: hidden
            label: "graph_title"
            scope: global
      - name: "pl_title"
        field:
            element: hidden
            label: "title"
            scope: global
      - name: "pl_jednostka"
        field:
            element: hidden
            label: "jednostka"
            scope: global
      - name: "translation_id"
        field:
            element: hidden
            label: "translation_id"
            scope: global
    _metadane_krajowe:
      - name: "pl_nazwa_wskaznika"
        field:
            element: text
            label: "Nazwa wskaźnika"
            scope: global
      - name: "pl_cel"
        field:
            element: text
            label: "Cel Zrównoważonego Rozwoju"
            scope: global
      - name: "pl_priorytet"
        field:
            element: textarea
            label: "Priorytet"
            scope: global
      - name: "pl_definicja"
        field:
            element: textarea
            label: "Definicja wskaźnika"
            scope: global
      - name: "pl_jednostka_prezentacji"
        field:
            element: text
            label: "Jednostka prezentacji"
            scope: global
      - name: "pl_dostepne_wymiary"
        field:
            element: textarea
            label: "Dostępne wymiary"
            scope: global
      - name: "pl_wyjasnienia_metodologiczne"
        field:
            element: textarea
            label: "Wyjaśnienia metodologiczne"
            scope: global
      - name: "pl_zrodlo_danych"
        field:
            element: text
            label: "Źródło danych"
            scope: global
      - name: "pl_czestotliwosc_dostępnosc_danych"
        field:
           element: textarea
            label: ""
            scope: global
      - name: "pl_uwagi"
        field:
            element: textarea
            label: "Uwagi"
            scope: global
      - name: "en_nazwa_wskaznika"
        field:
            element: text
            label: "Name of the indicator"
            scope: global
      - name: "en_cel"
        field:
            element: text
            label: "Sustainable Development Goal"
            scope: global
      - name: "en_priorytet"
        field:
            element: textarea
            label: "Priority"
            scope: global
      - name: "en_definicja"
        field:
            element: textarea
            label: "Definition"
            scope: global
      - name: "en_jednostka_prezentacji"
        field:
            element: text
            label: "Unit"
            scope: global
      - name: "en_dostepne_wymiary"
        field:
            element: textarea
            label: "Available dimensions"
            scope: global
      - name: "en_wyjasnienia_metodologiczne"
        field:
            element: textarea
            label: "Methodological explanations"
            scope: global
      - name: "en_zrodlo_danych"
        field:
            element: text
            label: "Source of data"
            scope: global
      - name: "en_czestotliwosc_dostępnosc_danych"
        field:
            element: textarea
            label: "Data availability"
            scope: global
      - name: "en_uwagi"
        field:
            element: textarea
            label: "Notes"
            scope: global
      - name: "en_graph_title"
        field:
            element: hidden
            label: "graph_title"
            scope: global
      - name: "en_title"
        field:
            element: hidden
            label: "title"
            scope: global
      - name: "en_jednostka"
        field:
            element: hidden
            label: "jednostka"
            scope: global
      - name: "pl_graph_title"
        field:
            element: hidden
            label: "graph_title"
            scope: global
      - name: "pl_title"
        field:
            element: hidden
            label: "title"
            scope: global
      - name: "pl_jednostka"
        field:
            element: hidden
            label: "jednostka"
            scope: global
      - name: "translation_id"
        field:
            element: hidden
            label: "translation_id"
            scope: global
