@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Regular.ttf);
}


.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #F4C63D;
  color: #453D3F;
  font-family: FiraSans;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; }
  .chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #F4C63D; }
  .chartist-tooltip.tooltip-show {
    opacity: 1; }


.ct-chart {
  margin-top : 120px;
}

       .ct-legend {
           position: relative;
           z-index: 10;
           list-style: none;
           text-align: center;
           left: 0px;
       }
       .ct-legend li {
           position: relative;
           padding-left: 23px;
           margin-right: 40px;
           margin-bottom: 3px;
           cursor: pointer;
           display: inline-block;
       }
       .ct-legend li:before {
           width: 18px;
           height: 0px;
           position: absolute;
           left: 0;
           content: '';
           border: 3px solid transparent;
           border-radius: 2px;
           margin-top : 10px;
       }
       .ct-legend li.inactive:before {
           background: transparent;
       }
       .ct-legend.ct-legend-inside {
           position: absolute;
           top: 0;
           right: 0;
       }
       .ct-legend.ct-legend-inside li{
           display: block;
           margin: 0;
       }
    .ct-legend .ct-series-0:before {
        background-color: #205493;
        border-color: #205493;
    }
    .ct-legend .ct-series-1:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-2:before {
        background-color: #f4c63d;
        border-color: #f4c63d;
    }
    .ct-legend .ct-series-3:before {
        background-color: #d17905;
        border-color: #d17905;
    }
    .ct-legend .ct-series-4:before {
        background-color: #453d3f;
        border-color: #453d3f;
    }
    .ct-legend .ct-series-5:before {
        background-color: #59922b;
        border-color: #59922b;
    }
    .ct-legend .ct-series-6:before {
        background-color: #0544d3;
        border-color: #0544d3;
    }
    .ct-legend .ct-series-7:before {
        background-color: #6b0392;
        border-color: #6b0392;
    }
    .ct-legend .ct-series-8:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-9:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-10:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-11:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-12:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-13:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-14:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-15:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-16:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-17:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-18:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-19:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-20:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-21:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-22:before {
        background-color: #800080;
        border-color: #800080;
    }
    .ct-legend .ct-series-23:before {
        background-color: #0099cc;
        border-color: #0099cc;
    }
    .ct-legend .ct-series-24:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-25:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-26:before {
        background-color: #205493;
        border-color: #205493;
    }
    .ct-legend .ct-series-27:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-28:before {
        background-color: #f4c63d;
        border-color: #f4c63d;
    }
    .ct-legend .ct-series-29:before {
        background-color: #d17905;
        border-color: #d17905;
    }
    .ct-legend .ct-series-30:before {
        background-color: #453d3f;
        border-color: #453d3f;
    }
    .ct-legend .ct-series-31:before {
        background-color: #59922b;
        border-color: #59922b;
    }
    .ct-legend .ct-series-32:before {
        background-color: #0544d3;
        border-color: #0544d3;
    }
    .ct-legend .ct-series-33:before {
        background-color: #6b0392;
        border-color: #6b0392;
    }
    .ct-legend .ct-series-34:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-35:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-36:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-37:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-38:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-39:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-40:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-41:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-42:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-43:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-44:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-45:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-46:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-47:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-48:before {
        background-color: #800080;
        border-color: #800080;
    }
    .ct-legend .ct-series-49:before {
        background-color: #0099cc;
        border-color: #0099cc;
    }
    .ct-legend .ct-series-50:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-51:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-52:before {
        background-color: #205493;
        border-color: #205493;
    }
    .ct-legend .ct-series-53:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-54:before {
        background-color: #f4c63d;
        border-color: #f4c63d;
    }
    .ct-legend .ct-series-55:before {
        background-color: #d17905;
        border-color: #d17905;
    }
    .ct-legend .ct-series-56:before {
        background-color: #453d3f;
        border-color: #453d3f;
    }
    .ct-legend .ct-series-57:before {
        background-color: #59922b;
        border-color: #59922b;
    }
    .ct-legend .ct-series-58:before {
        background-color: #0544d3;
        border-color: #0544d3;
    }
    .ct-legend .ct-series-59:before {
        background-color: #6b0392;
        border-color: #6b0392;
    }
    .ct-legend .ct-series-60:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-61:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-62:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-63:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-64:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-65:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-66:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-67:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-68:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-69:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-70:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-71:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-72:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-73:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-74:before {
        background-color: #800080;
        border-color: #800080;
    }
    .ct-legend .ct-series-75:before {
        background-color: #0099cc;
        border-color: #0099cc;
    }
    .ct-legend .ct-series-76:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-77:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-78:before {
        background-color: #205493;
        border-color: #205493;
    }
    .ct-legend .ct-series-79:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-80:before {
        background-color: #f4c63d;
        border-color: #f4c63d;
    }
    .ct-legend .ct-series-81:before {
        background-color: #d17905;
        border-color: #d17905;
    }
    .ct-legend .ct-series-82:before {
        background-color: #453d3f;
        border-color: #453d3f;
    }
    .ct-legend .ct-series-83:before {
        background-color: #59922b;
        border-color: #59922b;
    }
    .ct-legend .ct-series-84:before {
        background-color: #0544d3;
        border-color: #0544d3;
    }
    .ct-legend .ct-series-85:before {
        background-color: #6b0392;
        border-color: #6b0392;
    }
    .ct-legend .ct-series-86:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-87:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-88:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-89:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-90:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-91:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-92:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-93:before {
        background-color: #f05b4f;
        border-color: #f05b4f;
    }
    .ct-legend .ct-series-94:before {
        background-color: #dda458;
        border-color: #dda458;
    }
    .ct-legend .ct-series-95:before {
        background-color: #eacf7d;
        border-color: #eacf7d;
    }
    .ct-legend .ct-series-96:before {
        background-color: #86797d;
        border-color: #86797d;
    }
    .ct-legend .ct-series-97:before {
        background-color: #b2c326;
        border-color: #b2c326;
    }
    .ct-legend .ct-series-98:before {
        background-color: #6188e2;
        border-color: #6188e2;
    }
    .ct-legend .ct-series-99:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-100:before {
        background-color: #800080;
        border-color: #800080;
    }
    .ct-legend .ct-series-101:before {
        background-color: #0099cc;
        border-color: #0099cc;
    }
    .ct-legend .ct-series-102:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }
    .ct-legend .ct-series-103:before {
        background-color: #a748ca;
        border-color: #a748ca;
    }

    .ct-legend .ct-series-0 {
        color: #205493;
    }
    .ct-legend .ct-series-1 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-2 {
        color: #f4c63d;
    }
    .ct-legend .ct-series-3 {
        color: #d17905;
    }
    .ct-legend .ct-series-4 {
        color: #453d3f;
    }
    .ct-legend .ct-series-5 {
        color: #59922b;
    }
    .ct-legend .ct-series-6 {
        color: #0544d3;
    }
    .ct-legend .ct-series-7 {
        color: #6b0392;
    }
    .ct-legend .ct-series-8 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-9 {
        color: #dda458;
    }
    .ct-legend .ct-series-10 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-11 {
        color: #86797d;
    }
    .ct-legend .ct-series-12 {
        color: #b2c326;
    }
    .ct-legend .ct-series-13 {
        color: #6188e2;
    }
    .ct-legend .ct-series-14 {
        color: #a748ca;
    }
    .ct-legend .ct-series-15 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-16 {
        color: #dda458;
    }
    .ct-legend .ct-series-17 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-18 {
        color: #86797d;
    }
    .ct-legend .ct-series-19 {
        color: #b2c326;
    }
    .ct-legend .ct-series-20 {
        color: #6188e2;
    }
    .ct-legend .ct-series-21 {
        color: #a748ca;
    }
    .ct-legend .ct-series-22 {
        color: #800080;
    }
    .ct-legend .ct-series-23 {
        color: #0099cc;
    }
    .ct-legend .ct-series-24 {
        color: #a748ca;
    }
    .ct-legend .ct-series-25 {
        color: #a748ca;
    }
    .ct-legend .ct-series-26 {
        color: #205493;
    }
    .ct-legend .ct-series-27 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-28 {
        color: #f4c63d;
    }
    .ct-legend .ct-series-29 {
        color: #d17905;
    }
    .ct-legend .ct-series-30 {
        color: #453d3f;
    }
    .ct-legend .ct-series-31 {
        color: #59922b;
    }
    .ct-legend .ct-series-32 {
        color: #0544d3;
    }
    .ct-legend .ct-series-33 {
        color: #6b0392;
    }
    .ct-legend .ct-series-34 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-35 {
        color: #dda458;
    }
    .ct-legend .ct-series-36 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-37 {
        color: #86797d;
    }
    .ct-legend .ct-series-38 {
        color: #b2c326;
    }
    .ct-legend .ct-series-39 {
        color: #6188e2;
    }
    .ct-legend .ct-series-40 {
        color: #a748ca;
    }
    .ct-legend .ct-series-41 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-42 {
        color: #dda458;
    }
    .ct-legend .ct-series-43 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-44 {
        color: #86797d;
    }
    .ct-legend .ct-series-45 {
        color: #b2c326;
    }
    .ct-legend .ct-series-46 {
        color: #6188e2;
    }
    .ct-legend .ct-series-47 {
        color: #a748ca;
    }
    .ct-legend .ct-series-48 {
        color: #800080;
    }
    .ct-legend .ct-series-49 {
        color: #0099cc;
    }
    .ct-legend .ct-series-50 {
        color: #a748ca;
    }
    .ct-legend .ct-series-51 {
        color: #a748ca;
    }
    .ct-legend .ct-series-52 {
        color: #205493;
    }
    .ct-legend .ct-series-53 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-54 {
        color: #f4c63d;
    }
    .ct-legend .ct-series-55 {
        color: #d17905;
    }
    .ct-legend .ct-series-56 {
        color: #453d3f;
    }
    .ct-legend .ct-series-57 {
        color: #59922b;
    }
    .ct-legend .ct-series-58 {
        color: #0544d3;
    }
    .ct-legend .ct-series-59 {
        color: #6b0392;
    }
    .ct-legend .ct-series-60 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-61 {
        color: #dda458;
    }
    .ct-legend .ct-series-62 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-63 {
        color: #86797d;
    }
    .ct-legend .ct-series-64 {
        color: #b2c326;
    }
    .ct-legend .ct-series-65 {
        color: #6188e2;
    }
    .ct-legend .ct-series-66 {
        color: #a748ca;
    }
    .ct-legend .ct-series-67 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-68 {
        color: #dda458;
    }
    .ct-legend .ct-series-69 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-70 {
        color: #86797d;
    }
    .ct-legend .ct-series-71 {
        color: #b2c326;
    }
    .ct-legend .ct-series-72 {
        color: #6188e2;
    }
    .ct-legend .ct-series-73 {
        color: #a748ca;
    }
    .ct-legend .ct-series-74 {
        color: #800080;
    }
    .ct-legend .ct-series-75 {
        color: #0099cc;
    }
    .ct-legend .ct-series-76 {
        color: #a748ca;
    }
    .ct-legend .ct-series-77 {
        color: #a748ca;
    }
    .ct-legend .ct-series-78 {
        color: #205493;
    }
    .ct-legend .ct-series-79 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-80 {
        color: #f4c63d;
    }
    .ct-legend .ct-series-81 {
        color: #d17905;
    }
    .ct-legend .ct-series-82 {
        color: #453d3f;
    }
    .ct-legend .ct-series-83 {
        color: #59922b;
    }
    .ct-legend .ct-series-84 {
        color: #0544d3;
    }
    .ct-legend .ct-series-85 {
        color: #6b0392;
    }
    .ct-legend .ct-series-86 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-87 {
        color: #dda458;
    }
    .ct-legend .ct-series-88 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-89 {
        color: #86797d;
    }
    .ct-legend .ct-series-90 {
        color: #b2c326;
    }
    .ct-legend .ct-series-91 {
        color: #6188e2;
    }
    .ct-legend .ct-series-92 {
        color: #a748ca;
    }
    .ct-legend .ct-series-93 {
        color: #f05b4f;
    }
    .ct-legend .ct-series-94 {
        color: #dda458;
    }
    .ct-legend .ct-series-95 {
        color: #eacf7d;
    }
    .ct-legend .ct-series-96 {
        color: #86797d;
    }
    .ct-legend .ct-series-97 {
        color: #b2c326;
    }
    .ct-legend .ct-series-98 {
        color: #6188e2;
    }
    .ct-legend .ct-series-99 {
        color: #a748ca;
    }
    .ct-legend .ct-series-100 {
        color: #800080;
    }
    .ct-legend .ct-series-101 {
        color: #0099cc;
    }
    .ct-legend .ct-series-102 {
        color: #a748ca;
    }
    .ct-legend .ct-series-103 {
        color: #a748ca;
    }
