<div id="d"></div>
<script>

function Zaznacz(){
  const listItems = document.querySelectorAll('.ct-legend li');
  for (var index = 0, len = listItems.length; index < len; index++){
    if (listItems[index].style.display=='none'){
      listItems[index].style.display='inline-block'
      listItems[index].click();
      $("#infoToggler"+index).find('img').toggle();
      $('#row-'+index).toggle();
    }
  };

  const listIle = document.querySelectorAll('.panel-group');
  for (ile=0;ile<listIle.length;ile++){
    document.getElementById('wszystkie'+ile).src="{{ site.baseurl }}/assets/img/pelne.png";
  }
}

function Zaz(){
  const listItems = document.querySelectorAll('.ct-legend li');
  co=$(this).attr('id');
  $('#collapse'+co+' ul #filtr').each(function(i)
  {
    ind=$(this)[0].value;
    if (listItems[ind].style.display=='none'){
      listItems[ind].style.display='inline-block'
      listItems[ind].click();
      $("#infoToggler"+ind).find('img').toggle();
      $('#row-'+ind).toggle();
    }
  });
  document.getElementById('wszystkie'+co).src="{{ site.baseurl }}/assets/img/pelne.png";

}


function Usun(){
  const listItems = document.querySelectorAll('.ct-legend li');
      if (listItems[0].style.display=='none'){
        listItems[0].click();
        $("#infoToggler0").find('img').toggle();
        numer=0;
        $('#row-'+numer).toggle();
      }
      listItems[0].style.display='inline-block';
      for (numer=1;numer<listItems.length;numer++){
        if (listItems[numer].style.display=='inline-block'){
        listItems[numer].style.display='none'
        listItems[numer].click();
        $("#infoToggler"+numer).find('img').toggle();
        $('#row-'+numer).toggle();
        }
      }

    const listIle = document.querySelectorAll('.panel-group');
    for (ile=0;ile<listIle.length;ile++){
      document.getElementById('wszystkie'+ile).src="{{ site.baseurl }}/assets/img/puste.png";
    }
}

$( document ).ready(function() {
var lista={{include.content | jsonify}};
var lista1=[{{include.content1}}]
var jez='{{include.content2}}'
if (jez=='pl'){
  wymiar_n='Wymiar - Zaznacz wszystko'
}else{
  wymiar_n='Dimension - Select All'
}
ilosc=0;

var wymiar=0;

lista.forEach(function(el,elind) {

    var Div = document.createElement('div');
    Div.style.width = '25%';
    Div.style.height = '100px';
    Div.style.float = 'left';
    Div.style.padding = '5px';
    Div.id = 'divove'+ilosc;
	Div.style.minWidth = "121px";
    Div.className = 'divovefiltry'
    if (ilosc==0){
      $('#filtry').after(Div);
    }else{
      $('#divove'+(ilosc-1)).after(Div);
    }


    var iDiv = document.createElement('div');
    iDiv.className = 'panel-group';
    iDiv.id = 'filtry'+ilosc;
    iDiv.style.position='relative';
    iDiv.style.zIndex='11';
    iDiv.style.float = 'left';
    iDiv.style.width = '100%';
    Div.appendChild(iDiv);


    var iiDiv = document.createElement('div');
    iiDiv.className = 'panel panel-default';
    iDiv.appendChild(iiDiv);

    var iii1Div = document.createElement('div');
    iii1Div.className = 'panel-heading';
    iii1Div.style.marginBottom = '5px';
    iii1Div.style.marginLeft = '1px';
    iii1Div.style.marginRight = '1px';
    iii1Div.style.padding = '0px';
    iiDiv.appendChild(iii1Div);

    var iii2Div = document.createElement('div');
    iii2Div.id = 'collapse'+ilosc;
    iii2Div.className = 'panel-collapse collapse';
    iiDiv.appendChild(iii2Div);

    var naglowek = document.createElement('h4');
    naglowek.className = 'panel-title';
    naglowek.style.margin = '15px';
    iii1Div.appendChild(naglowek);

    var napis = document.createElement('a');
    $(napis).attr("data-toggle", "collapse");
    napis.href="#collapse"+ilosc;
    napis.style.textAlign="left";
    napis.style.fontSize="1.6rem";
    naglowek.appendChild(napis);

    var napisek = document.createElement('h5');
    napisek.innerHTML = el;
    napisek.style.fontSize="1.6rem";
	napisek.style.wordWrap= "break-word";
    napis.appendChild(napisek);

    var imgh5 = document.createElement('i');
    imgh5.className="fa fa-caret-down";
    imgh5.style.float='right';
    imgh5.style.color='#0071bc';
    imgh5.style.fontSize='25px';
    napisek.appendChild(imgh5);


    var lista = document.createElement('ul');
    lista.className = 'list-group checked-list-box';
    lista.id = 'check-list-box';
    iii2Div.appendChild(lista);

    var element = document.createElement('li');
    element.className='dropdown-header';
    element.textContent = wymiar_n;
    lista.appendChild(element);

    var przycisk=document.createElement('button');
    przycisk.style.float='right';
    przycisk.style.margin='0';
    przycisk.style.fontSize='0rem';
    przycisk.style.backgroundColor='transparent';
    przycisk.style.padding='0%';
    przycisk.id=ilosc;
    przycisk.onclick=Zaz;
    element.appendChild(przycisk);

    var image2 = document.createElement('img');
    image2.src="{{ site.baseurl }}/assets/img/puste.png";
    image2.style.width='13px';
    image2.style.height='13px';
    image2.style.display = 'inline';
    image2.className='wszystkie'+ilosc;
    image2.id='wszystkie'+ilosc;
    przycisk.appendChild(image2);

    halo=0;

    for (jak=0;jak<lista1[ilosc].length;jak++){
            var span = document.createElement('span')
            var element = document.createElement('li');
            element.className = 'list-group-item';
            element.id = 'filtr';
            element.value = wymiar +jak;
            element.style.cursor="pointer";
            element.onclick=function(){
              const listItems = document.querySelectorAll('.ct-legend li');
              war=true
              co=$(this).attr('value');
              for (ktory=0;ktory<listItems.length;ktory++){
                if (ktory!=co){
                  war=(war && $("#row-"+ktory).is(":hidden"))
                }
              }
              warunek=(war)

              if(!warunek) {
                $('#row-'+co).toggle();
                $("#infoToggler"+co).find('img').toggle();
            }

            ile=$(this).closest( "ul" ).children('li').length
            ke=$(this).closest( "ul" ).find('img').attr('class');
            document.getElementById(ke).src="{{ site.baseurl }}/assets/img/puste.png"

            licznik=0;
            ke2=$(this).closest( "ul" );
            ke2.each(function() {
               $(this).find('li').each(function(){
                 var img = $(this).find('img:visible').attr('src');

                 if (img=="{{ site.baseurl }}/assets/img/pelne.png"){
                   licznik=licznik+1;
                 }
               });
            });
            if (licznik==ile-1){
              document.getElementById(ke).src="{{ site.baseurl }}/assets/img/pelne.png"
            }
          },
            span.style.marginLeft = "15px";
            span.innerHTML = lista1[ilosc][jak];
            element.appendChild(span);
            lista.appendChild(element);

            var zdjecie = document.createElement('div');
            zdjecie.id = 'infoToggler'+(wymiar +jak);
            zdjecie.style.float="right";
			      zdjecie.style.marginRight="15px";
            element.appendChild(zdjecie);

            if ((jak==0) && (elind==0)){
              var imga1 = document.createElement('img');
              imga1.src="{{ site.baseurl }}/assets/img/pelne.png";
              imga1.style.width='13px';
              imga1.style.height='13px';
              imga1.style.display = 'inline';
              zdjecie.appendChild(imga1);

              var imga2 = document.createElement('img');
              imga2.src="{{ site.baseurl }}/assets/img/puste.png";
              imga2.style.width='13px';
              imga2.style.height='13px';
              imga2.style.display = 'none';
              zdjecie.appendChild(imga2);

            }else{
            var imga1 = document.createElement('img');
            imga1.src="{{ site.baseurl }}/assets/img/puste.png";
            imga1.style.width='13px';
            imga1.style.height='13px';
            imga1.style.display = 'inline';
            zdjecie.appendChild(imga1);

            var imga2 = document.createElement('img');
            imga2.src="{{ site.baseurl }}/assets/img/pelne.png";
            imga2.style.width='13px';
            imga2.style.height='13px';
            imga2.style.display = 'none';
            zdjecie.appendChild(imga2);
          }
          /*var checkbx = document.createElement("INPUT");
            checkbx.setAttribute("type", "checkbox");
            element.appendChild(checkbx);*/

            halo=halo+1
    }
    ilosc=ilosc+1;
    wymiar=wymiar+halo;
});




});

/*$(window).load(function() {

$(".ct-legend li").click(function() {

  const listItems = document.querySelectorAll('.ct-legend li');
  var co=$(this).attr('data-legend');

  war=true
  for (ktory=0;ktory<listItems.length;ktory++){
    if (ktory!=co){
      war=(war && $("#column-"+ktory).is(":hidden"))
    }
  }
  warunek=(war)

  if(!warunek) {
  header = $("#column-"+co),
  table = header.closest("table"),
  index = header.index() + 1,
  selector = "tbody tr td:nth-child(" + index + ")",
  column = table.find(selector).add(header);
  column.toggle();
  $("#infoToggler"+co).find('img').toggle();
}
});

});*/

</script>
