{% assign id = page.indicator | slugify %}
{% assign unit_label = page.variable_unit_label %}



<div id="linechart-{{ id }}" class="ct-chart ct-major-eleventh"></div>
<script>
//LINIOWY
function remove(array, element) {
  const index = array.indexOf(element);

  if (index !== -1) {
    array.splice(index, 1);
  }
}

(function (){
  var container = '#linechart-{{ id }}'
  var labels = {{ include.labels | jsonify }}
  labels.shift();
  var licznik={{ include.licznik }}
  var calosc={{ include.row1 | jsonify }}
  var naglowek_ang={{ page.indicator_variable_2 | split: "," | jsonify}}

  for (i=0;i<naglowek_ang.length;i++){
    remove(calosc, naglowek_ang[i]);

  }
  var jez= '{{ include.content2 }}'

  if (jez=='en'){
    var legen={{ page.indicator_variable_2 | split: "," | jsonify}}
  }else{
    var legen={{ include.legenda | jsonify }}
  }

  if({{ precyzja }}=='0'){
    var precyz=0;
  }else{
    var precyz=parseInt({{ precyzja }}) || 2
  }

if ('{{id}}'=='12-2-2' || '{{id}}' == '8-4-2'){
  if (window.location.href.indexOf("en") > -1){
      legenda=["total"]
  }else{
    legenda=["ogółem"]
  }


}else{
    legenda=[]
    for (j=0;j<legen.length;j++){
      legenda.push(legen[j].replace(/[_]/g, ''))
    }
}


var calosc_liczby =calosc.map(Number)
var lower = Math.min.apply(Math,calosc_liczby);
if (lower>0){
  lower=0;
}

var b = [[]];
seria=[]
for (i=1;i<licznik+1;i++){
  b[i] = calosc.splice(0,labels.length);
  seria.push(b[i])

}


  var chartData = {
    labels: labels,
    series: seria
  }

  var chartOpts = {
    showArea: true,
    scaleMinSpace: 30,
    low:lower,
    width: '100%',
    height: '100%',
    chartPadding: {
        left: 40
    },
    axisY: {
      {% if page.graph_negative != true %}
      offset: 50,
      {% endif %}
      {% if precyzja != 0 %}
      onlyInteger: false,
      labelInterpolationFnc: function (value) {
        // do whatever math operation you want here
        if (jez=='en'){
          return Chartist.roundWithPrecision(value, precyz).toFixed(precyz).toString().replace(",", ".") + '{{ unit_label }}';
        }else{
          return Chartist.roundWithPrecision(value, precyz).toFixed(precyz).toString().replace(".", ",") + '{{ unit_label }}';
        }

      }{% else %}
      onlyInteger: true,
      {% endif %}
      labelOffset: {
        x: 0,
        y: 5
      },
    },
    axisX: {
      showGrid: false,
      labelOffset: {
        x: -11,
        y: 0
      },
      labelInterpolationFnc: function (value) {
        return value.toString()
      }
    },
    lineSmooth: Chartist.Interpolation.none({
      fillHoles: true,
    }),
    plugins: [
      Chartist.plugins.tooltip({
        class: 'chartist-tooltip',
        tooltipFnc: function(_, value) {
          if (jez=='en'){
            return Chartist.roundWithPrecision(value, precyz).toFixed(precyz).toString().replace(",", ".") + '{{ unit_label }}';
          }else{
            return Chartist.roundWithPrecision(value, precyz).toFixed(precyz).toString().replace(".", ",") + '{{ unit_label }}';
          }
        }
      }),
      Chartist.plugins.ctAccessibility({
        caption: '{{ row.Indicator }}',
        seriesHeader: 'year',
        summary: '{{ row.description }}',
        valueTransform: Chartist.noop
      }),
      Chartist.plugins.legend({
          legendNames: legenda,
          position: document.querySelector('div#Legenda')
      }),
      Chartist.plugins.ctAxisTitle({
      axisX: {},
      axisY: {
        axisTitle: '{{jednostka}}',
        axisClass: 'ct-axis-title',
        offset: {
          x: 0,
          y: 0
        },
        textAnchor: 'middle',
        flipTitle: false
      }
    })
    ],
  }
  chart = new Chartist.Line(container, chartData, chartOpts);

  return chart;
  })()




</script>
