{% include head.html %}

{% include header.html %}

{% assign t = site.translations | where:"translation_id", "frontpage" | first %}
{% assign t = t[page.lang] %}

{% if page.url contains '/statistics_nat/' %}
{% assign ktore = site.data.krajowe %}
{% else %}
{% assign ktore = site.data.globalne %}
{% endif %}

<div id="main" class="main-content" role="main">

  <a id="main-content" tabindex="-1"></a>
  {% if page.url contains '/statistics_nat/' %}
    <section class="pl-banner-nat">
		{% elsif page.url contains '/'%}
		<section class="pl-banner-glob">
		{% else %}
		<section class="pl-banner">
	{% endif %}
    <div class="pl-grid">
      <div class="pl-banner-content">
                        <h1>
                          {% if page.url contains '/statistics_nat/' %}
                            {{ t.main-heading2 }}
                          {% else %}
                            {{ t.main-heading }}
                          {% endif %}
                        </h1>
      </div>
    </div>
  </section>

  <section class="usa-section">
    <div class="pl-grid">
      <div class="usa-font-lead intro-paragraph">
        {{ t.intro-text }}
      </div>


      <section class="goals-list">
        {% if page.lang == 'pl' %}
        {% assign sdg_goals = ktore.sdg_goals %}
        {% else %}
        {% assign sdg_goals = ktore[page.lang].sdg_goals %}
        {% endif %}

        {% for goals in sdg_goals %}

        {% assign img_path = goals.goal | plus:0 %}

        {% if img_path < 10 %} {% assign img_path=0 %} {% else %} {% assign img_path='' %} {% endif %}

	{% if page.lang == 'en' %}
              {% assign language = 'en/' %}
              {% assign text = 'Go to goal ' %}
        {% else %}
              {% assign language = '' %}
              {% assign text = 'Przejdź do celu o nazwie ' %}
        {% endif %}

	{% if page.url contains '/statistics_nat/' %}
          <a class="kafelek" alt="{{ goals.title }}" title="{{text}}{{ goals.title }}" style="background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goal-{{ img_path }}{{ goals.goal }}.png')" href="{{ site.baseurl }}/{{ language }}statistics_nat/{{ goals.short | slugify }}/"></a>
          {% else %}
          <a class="kafelek" alt="{{ goals.title }}" title="{{text}}{{ goals.title }}" style="background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goal-{{ img_path }}{{ goals.goal }}.png')" href="{{ site.baseurl }}/{{ language }}{{ goals.short | slugify }}/" ></a>
          {% endif %}

          {% endfor %}

		{% if page.url contains '/statistics_nat/' %}

			{% if page.lang == 'en' %}
				<a class="kafelek" alt="Download all SDG data" title="Download all SDG data" style="background-position: center;background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo.png')" href="{{ site.baseurl }}/assets/excel/{{ page.lang }}/national_sdg_indicators.xlsx" ></a>
			{% else %}
				<a class="kafelek" alt="Pobierz wszystkie dane SDG" title="Pobierz wszystkie dane SDG" style="background-position: center;background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo.png')" href="{{ site.baseurl }}/assets/excel/{{ page.lang }}/wskazniki_krajowe.xlsx" ></a>
			{% endif %}

		{% else %}

			{% if page.lang == 'en' %}
		<div style="display: inline-grid">
			<a class="kafelek" alt="Download all SDG data" title="Download all SDG data" style="margin-left:4px; margin-top:5px; height:70px;background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo.png')" href="{{ site.baseurl }}/assets/excel/{{ page.lang }}/global_sdg_indicators.xlsx" ></a>

		<ul class="usa-unstyled-list">
			<li class="nav-item" style="width: 150px">
				<div class="dropdown" style="width: 150px; text-align:center">
				<a>
					<div class="dropbtn">
						<a class="kafelek" alt="Download all SDG targets" title="Download all SDG targets" style="margin-left:4px; margin-top:5px; height:70px;background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo_2.png')"></a>
					<i class="fa fa-caret-down" style="margin-left: 5px;color: #0071bc;"></i>
					</div>
				</a>
					<div class="dropdown-content" style="width: 150px;">
					<a class="pod" title="Download all SDG targets in pdf format" href="{{ site.baseurl }}/assets/pdf/{{ page.lang }}/Global_targets_en.pdf" style="border-bottom-style:solid; border-color:#dddddd; border-width:thin; text-align: center">PDF</a>
					<a class="pod" title="Download all SDG targets in xlsx format" href="{{ site.baseurl }}/assets/excel/{{ page.lang }}/Global_targets_en.xlsx" style="border-bottom-style:solid; border-color:#dddddd; border-width:thin; text-align: center">EXCEL</a>
					</div>
				</div>
			</li>
		</ul>

		</div>

      {% else %}
      <div style="display: inline-grid">
			<a class="kafelek" alt="Pobierz wszystkie dane SDG" title="Pobierz wszystkie dane SDG" style="margin-left:4px; margin-top:5px; height:70px;background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo.png')" href="{{ site.baseurl }}/assets/excel/{{ page.lang }}/wskazniki_globalne.xlsx" ></a>

		<ul class="usa-unstyled-list">
			<li class="nav-item" style="width: 150px">
				<div class="dropdown" style="width: 150px; text-align:center">
				<a>
					<div class="dropbtn">
						<a class="kafelek" alt="Pobierz wszystkie zadania SDG" title="Pobierz wszystkie zadania SDG" style="margin-left:4px; margin-top:5px; height:70px;background-image:url('{{ site.baseurl }}/assets/img/{{ page.lang }}/{{ page.lang }}-sdg-goals-logo_2.png')"></a>
					<i class="fa fa-caret-down" style="margin-left: 5px;color: #0071bc;"></i>
					</div>
				</a>
					<div class="dropdown-content" style="width: 150px;">
					<a class="pod" title="Pobierz wszystkie zadania SDG w formacie .pdf" href="{{ site.baseurl }}/assets/pdf/{{ page.lang }}/Zadania_globalne_pl.pdf" style="border-bottom-style:solid; border-color:#dddddd; border-width:thin; text-align: center">PDF</a>
					<a class="pod" title="Pobierz wszystkie zadania SDG w formacie .xlsx" href="{{ site.baseurl }}/assets/excel/{{ page.lang }}/Zadania_globalne_pl.xlsx" style="border-bottom-style:solid; border-color:#dddddd; border-width:thin; text-align: center">EXCEL</a>
					</div>
				</div>
			</li>
		</ul>

		</div>
      {% endif %}

		{% endif %}

      </section>
    </div>
  </section>
</div>
{% include footer.html %}
