---
layout: page
---

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/api.css?v={{ cache_bust }}">
  <script src="{{ site.baseurl }}/assets/js/api.js"></script>

{% if page.url contains 'en/' %}
  <h2 style="margin-top: 30px;">Application programming interface (API)</h2>
  <p>The SDG API (Application Programming Interface) allows to browse and download for further processing the full range of data and metadata for global and national indicators monitoring the Sustainable Development Goals (SDGs) of the 2030 Agenda in Poland.
    <br />The data is made available through REST API in JSON format.
    The list below presents available web services provided as part of the API.
  </p>
{% else %}
  <h2 style="margin-top: 30px;">Interfejs programistyczny aplikacji (API)</h2>
  <p>Interfejs API Platformy SDG pozwala na przeglądanie i pobieranie do dalszego przetwarzania pełnego zakresu danych i metadanych dla globalnych i krajowych wskaźników monitorujących Cele Zrównoważonego Rozwoju Agendy 2030 w Polsce.
    <br />Dane udostępniane są poprzez REST-owe API w formacie JSON.
    Poniższa lista opisuje usługi sieciowe udostępnione w ramach interfejsu API.
  </p>
{% endif %}

<!--<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#unep">Home</a>
    <a href="#cbd">About</a>
    <a href="#wto">Contact</a>
  </div>
</div>-->

  <section id='content'>
    {% if page.url contains 'en/' %}
      {% assign p = site.posts | sort: 'title' %}
      {% for post in p %}
        {% if post.lang == 'en' %}
          {% if post.url contains '31' %}
            <article class='{{ post.type }}'>
              <a name='{{ post.name | replace: "/api/v1/en/custodian/", "" | replace: ".json", "" }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.name }}</code> {% endif %}{{ post.title }}</h2></a>
              <section class='body'>
                {{ post.content }}
              </section>
            </article>
          {% endif %}
        {% endif %}
      {% endfor %}
      {% for post in p %}
        {% if post.lang == 'en' %}
          {% if post.url contains '30' %}
            <article class='{{ post.type }}'>
              <a name='{{ post.name | replace: "/api/v1/en/custodian/", "" | replace: ".json", "" }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.name }}</code> {% endif %}{{ post.title }}</h2></a>
              <section class='body'>
                {{ post.content }}
              </section>
            </article>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% else %}
      {% assign p = site.posts | sort: 'title' %}
      {% for post in p %}
        {% if post.lang == 'pl' %}
          {% if post.url contains '30' or post.url contains '31' %}
            <article class='{{ post.type }}'>
              <a name='{{ post.name | replace: "/api/v1/custodian/", "" | replace: ".json", "" }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.name }}</code> {% endif %}{{ post.title }}</h2></a>
              <section class='body'>
                {{ post.content }}
              </section>
            </article>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>

  <script>require('boot');
    function myFunction() {
      document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }

  </script>
