---
layout: page
---

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/api.css?v={{ cache_bust }}">
  <script src="{{ site.baseurl }}/assets/js/api.js"></script>

{% if page.url contains 'en/' %}
  <h2 style="margin-top: 30px;">Application programming interface (API)</h2>
  <p>The API application allows to browse and download for further processing the full range of data and metadata on Sustainable Development Indicators.
    The lis below presents vailable web services provided as part of the API.
  <br/>
  <p>For API security reasons, quantitative limits are imposed on the number of requests. For unauthenticated requests, the rate limit allows for up to 60 requests per hour. For API requests using Basic Authentication or OAuth, you can make up to 5000 requests per hour.</p>
{% else %}
  <h2 style="margin-top: 30px;">Interfejs programistyczny aplikacji (API)</h2>
  <p>Interfejs API portalu SDG umożliwia dostęp do danych dotyczących Wskaźników Zrównoważonego Rozwoju, wytwarzanych w ramach Agendy na rzecz Zrównoważonego Rozwoju 2030. Poniższa lista opisuje usługi sieciowe udostępnione w ramach interfejsu API.</p>
  <br/>
  <p>Ze względów bezpieczeństwa na interfejs zostały nałożone limity zapytań. Użytkownicy anonimowi mogą wykonać do 60 zapytań w ciągu godziny. Dla użytkowników zarejestrowanych na platformie Github limit wynosi 5000 zapytań w ciągu godziny. </p>
{% endif %}

  <section id='content'>
    {% if page.url contains 'en/' %}
      {% for post in site.posts %}
        {% if post.lang == 'en' %}
          <article class='{{ post.type }}'>
            <a name='{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.name }}</code> {% endif %}{{ post.title }}</h2></a>
            <section class='body'>
              {{ post.content }}
            </section>
          </article>
        {% endif %}
      {% endfor %}
    {% else %}
      {% for post in site.posts %}
        {% if post.lang == 'pl' %}
          <article class='{{ post.type }}'>
            <a name='{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.name }}</code> {% endif %}{{ post.title }}</h2></a>
            <section class='body'>
              {{ post.content }}
            </section>
          </article>
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>

  <script>require('boot');</script>
