---
layout: default
---

        <div id="main" class="main-content" role="main">

            <a id="main-content" tabindex="-1"></a>
            <section class="pl-banner">
                <div class="pl-grid">

                    <div class="pl-banner-content">
                        <h1>
                            {{ page.title }}
                        </h1>
                    </div>

                </div>
            </section>

            <div class="pl-grid">
                {{ content }}
            </div>

        </div>
