{% include head.html %}

{% include header.html %}

{% assign ktore = site.data.krajowe %}
{% if page.url contains '/en/' %}
  {% assign goals = ktore['en'].sdg_goals %}
  {% assign goals_priorytet = ktore['en'].sdg_priorytet %}
  {% assign indicators_priorytet = ktore['en'].sdg_indicator_metadata %}
  {% assign lang = '/en' %}
  {% assign title = 'Priorities for Poland' %}
  {% assign g1 = 'SDGs' %}
  {% assign g2 = 'Priorities for Poland' %}
  {% assign g3 = 'Indicators' %}
{% else %}
  {% assign goals = ktore.sdg_goals %}
  {% assign goals_priorytet = ktore.sdg_priorytet %}
  {% assign indicators_priorytet = ktore.sdg_indicator_metadata %}
  {% assign lang = '' %}
  {% assign title = 'Priorytety SDGs dla Polski' %}
  {% assign g1 = 'Cele SDGs' %}
  {% assign g2 = 'Priorytety dla Polski' %}
  {% assign g3 = 'Wskaźniki' %}
{% endif %}

    <div id="main" class="main-content initiative-content status-dashboard">

        <a id="main-content" tabindex="-1"></a>

			<section class="pl-banner-nat">

            <div class="pl-grid">
                <div class="pl-banner-content">
                    <h1>{{title}}</h1>
                </div>
            </div>
        </section>


        <div class="pl-grid">
            {{ content }}
        </div>

        <div class="pl-grid initiative-description">

          {% if page.url contains '/en/' %}
            <br/>
            <p>A set of over 140 indicators monitoring over 70 national priorities was created to analyze changes over time and assess Poland's progress in areas that pose challenges for our country in terms of SDGs. Contrary to global targets and indicators concerning the whole world, the priorities for Poland and the corresponding indicators are tailored to our country.</p>
	    <p>National priorities, followed by monitoring indicators, were first defined in 2018 based on the experience and conclusions from the period of Poland’s preparation for its first presentation during the Voluntary National Review at the United Nations High-Level Political Forum. In 2023, the set of priorities and indicators have undergone major changes to best take into account the new issues and challenges that Poland is facing, primarily resulting from the COVID-19 pandemic and the war in Ukraine.</p>
            <p>Poland's approach to the implementation of the 2030 Agenda, our national achievements, updated national priorities along with monitoring indicators are presented in the report adopted by the Government of the Republic of Poland entitled <a title="Go to 2023 national report" href="https://www.gov.pl/web/rozwoj-technologia/monitoring-realizacji-agendy-2030">Implementation of the Sustainable Development Goals in Poland. The 2023 National Report.</a> on the occasion of Poland's participation for the second time in the voluntary national review on the implementation of SDGs.</p>
            <p>Indicators proposed by Statistics Poland were consulted with the ministries responsible for implementing the priorities, with the leading role of the Ministry of Economic Development and Technology – the coordinator of the 2030 Agenda implementation process in Poland.</p>
          {% else %}
            <br/>
            <p>Zestaw ponad 140 wskaźników monitorujących ponad 70 priorytetów krajowych powstał na potrzeby analizowania zmian w czasie i oceny postępów Polski w obszarach, które stanowią wyzwania dla naszego kraju z punktu widzenia SDGs. W odróżnieniu od zadań i wskaźników globalnych dotyczących całego świata, priorytety dla Polski oraz odpowiadające im mierniki są szyte na miarę naszego kraju.</p>
	    <p>Krajowe priorytety, a w ślad za nimi wskaźniki monitorujące, zostały po raz pierwszy zdefiniowane w 2018 r. w oparciu o doświadczenia i wnioski z okresu przygotowywania do pierwszego wystąpienia Polski podczas dobrowolnego przeglądu krajów z wdrażania SDGs (Voluntary National Review) na Forum Politycznym Wysokiego Szczebla ONZ. W 2023 r. zestaw priorytetów i wskaźników uległ dużym zmianom, aby jak najlepiej uwzględnić nowe zagadnienia i wyzwania, z jakimi mierzy się Polska, przede wszystkim wynikające z pandemii COVID-19 i wojny w Ukrainie.</p>
            <p>Podejście Polski do realizacji Agendy 2030, nasze krajowe osiągnięcia, zaktualizowane krajowe priorytety wraz ze wskaźnikami monitorującymi zostały przedstawione w przyjętym przez Rząd RP raporcie pt. „<a title="Przejdź do raportu 2023" href="https://www.gov.pl/web/rozwoj-technologia/monitoring-realizacji-agendy-2030">Realizacja Celów Zrównoważonego Rozwoju w Polsce. Raport 2023</a> z okazji przystąpienia Polski po raz drugi do dobrowolnego przeglądu krajów z wdrażania SDGs.</p>
            <p>Zgłoszone przez Główny Urząd Statystyczny propozycje wskaźników zostały skonsultowane z resortami odpowiedzialnymi za wdrażanie priorytetów, przy wiodącej roli Ministerstwa Rozwoju i Technologii – koordynatora procesu wdrażania Agendy 2030 w Polsce.</p>
          {% endif %}


            <div class="goal-list" style="margin-bottom: 32px">

              <div class="media pl-grid-full" style="font-weight: bold;border-bottom: 1px solid #cecece;border-left: 1px solid #cecece;border-top: 1px solid #cecece;border-right: 1px solid #cecece;margin-top: -1px">

                        <div class="usa-width-one-sixth" style="padding-left: 5px;border-left: 1px solid #cecece;padding-right: 5px;margin-top: 16px;">{{g1}}</div>
                        <div class="usa-width-five-sixths" style="border-left: 1px solid #cecece">
                            <div style="display: inline-block;width: 100%;border-bottom: 1px solid #cecece;padding-left: 5px;margin-bottom: -7px">
                              <div style="width: 50%;float: left;padding-right: 15px;border-right: 1px solid #cecece;margin-right: -1px"><p>{{g2}}</p></div>
                              <div style="width: 50%;float: left;padding-left:5px;border-left: 1px solid #cecece;padding-right: 5px;margin-top: 16px">{{g3}}<br><br></div>
                            </div>
                        </div>
              </div>


            {% for goal in goals %}

                {% assign this_goal = goal.goal | plus:0 %}

                {% if this_goal < 10 %}
                    {% assign img_path = 0  %}
                {% else %}
                    {% assign img_path = ''  %}
                {% endif %}

                    <div class="media pl-grid-full" style="border-bottom: 1px solid #cecece;border-left: 1px solid #cecece;border-top: 1px solid #cecece;border-right: 1px solid #cecece;margin-top: -1px">

                      <div class="usa-width-one-sixth">
                        <div class="media-left">
                          <div>

                            <a href="{{ site.baseurl }}{{ lang }}/statistics_nat/{{ goal.short | slugify }}/" title="{{goal.title}}" alt="{{goal.title}}">
                              {% if page.url contains '/en/' %}
                                <img class="media-object" title="Go to goal {{ goal.short}}" src="{{ site.baseurl }}/assets/img{{ lang }}{{ lang }}-sdg-goal-{{ img_path }}{{ this_goal }}.png" width="75%" height="calc(1 * width)" alt="{{ goal.short}}" style="padding-top: 16px">
                              {% else %}
                                <img class="media-object" title="Przejdź do celu o nazwie {{ goal.title}}" src="{{ site.baseurl }}/assets/img/pl/pl-sdg-goal-{{ img_path }}{{ this_goal }}.png" width="75%" height="calc(1 * width)" alt="{{ goal.short}}" style="padding-top: 16px">
                              {% endif %}
                            </a>
                          <span class="sr-only">
                                {{ goal.title}}
                          </span>
                          </div>
                        </div>
                      </div>

                      <div class="usa-width-five-sixths" style="border-left: 1px solid #cecece">

                        {% for goal_p in goals_priorytet %}
                          {% if goal.goal==goal_p.goal %}
                          <div style="display: inline-block;width: 100%;border-bottom: 1px solid #cecece;padding-left: 5px;margin-bottom: -7px">
                            <div style="width: 50%;float: left;padding-right: 15px;border-right: 1px solid #cecece;margin-right: -1px">
                              <p>{{goal_p.priorytet}}</p>

                            </div>
                            <div style="width: 50%;float: left;padding-left:5px;border-left: 1px solid #cecece;padding-right: 5px;margin-top: 16px">
                              {% assign nr_indi = goal_p.indicators | split: "," %}
                              {% for jeden in nr_indi %}
                                {% for indicators_p in indicators_priorytet %}
                                  {% if jeden==indicators_p.target_id %}
                                    {% assign jeden_myslnik = jeden | replace: '.', '-' %}
                                    {% if page.url contains '/en/' %}
                                    <a href="{{ site.baseurl }}{{ lang }}/statistics_nat/{{ jeden_myslnik }}" title="Go to indicator {{ jeden_myslnik  | replace: '-', '.' | remove: ".0"}} {{ indicators_p.indicator }}">{{ jeden_myslnik  | replace: '-', '.' | remove: ".0"}} {{ indicators_p.indicator }}</a><br /><br />
                                    {% else %}
                                    <a href="{{ site.baseurl }}{{ lang }}/statistics_nat/{{ jeden_myslnik }}" title="Przejdź do wskaźnika {{ jeden_myslnik  | replace: '-', '.' | remove: ".0"}} {{ indicators_p.indicator }}">{{ jeden_myslnik  | replace: '-', '.' | remove: ".0"}} {{ indicators_p.indicator }}</a><br /><br />
                                    {% endif %}
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            </div>
                          </div>
                          {% endif %}
                        {% endfor %}
                        </div>
                      </div>

            {% endfor %}

        </div>

    </div>

{% include footer.html %}
