{% include head.html %}

{% include header.html %}


<div class="pl-grid splash-container">
  <div class="splash-page">
    <p style="margin-top: 150px;align:center;">
    <img src="{{ site.baseurl }}/assets/img/intro_podklad_pl_4.png" align="center" alt="GUS" border="0"/></img>
  </p>
<h1 class="page-header"></h1>



  <div class="row">

      <p class="splash-intro" style="margin-top: 2px;text-align:center;margin-bottom: 2px;padding-top: 1em;">
        {{ page.splash-intro-head }}
      </p>

      <p style="margin-top: 2px;text-align:center;margin-bottom: 2px;padding-top: 1em;">

        <br /><a href="./statistics_glob/"><h7>Oficjalne statystyki SDG - zestaw globalny</h7></a>
        <br />
        <br /><a href="./statistics_nat/"><h7>Oficjalne statystyki SDG - zestaw krajowy</h7></a>
        <br />
      </p>

    </div>
  </div>
</div>

{% include scripts.html %}
{% include footer.html %}
